name: Build

on:
  push:
    tags:
      - '!v*'
    branches:
      - '*'
  pull_request:
    branches:
      - 'main'
      - 'voyager2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Java for publishing to GitHub Packages
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Maven Install
        run: mvn clean verify
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
